
.landing-item-logo {
    position: relative;
    width: 100px;
    float: right;
    margin-right: 30px; 
    z-index: 9999;
}

.landing-item-logo-captured { /* Use this to paint logo on top of content in the bottom-right corner */
    position: absolute;
    z-index: 999;
    bottom: 3%;
    right: 8%;
}

.landing-item-link {
    position: relative;
    z-index: 9999;
}
